#screen{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;
    width: 100vw;
    overflow: hidden;
}
form{
    border-top: 1px solid black;
    display: flex;
    padding-bottom: 20px;
    justify-content: center;
    width: 100%;
    align-items: center;
}
#message{
    width: 90%;
    font-family: 'Cambria';
    padding: 10px;
    border: 2px solid darkgray;
    border-radius: 10px;
    margin: 5px;
}
textarea{
    resize:vertical;
}
#submit{
    display: flex;
    height: min-content;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    border: 2px solid black;
}
#chat-log{
    display: flex;
    flex-direction: column;
    overflow-y:scroll;
    height: 100%;
    width: 100%;
}
.chat{
    display: flex;
    background-color:lightgreen;
    padding: 15px;
    margin: 10px;
    border-radius: 15px;
    width: fit-content;
    height: fit-content;
}
.chat.a{
    align-self: flex-end;
    background-color: lightblue;
}