header {
    background-color: #084acf;
    margin: 0 auto;
    padding: 10px 10vw;
    width: 100vw;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}